<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Youtube</strong>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '一覧', posts_path %>